main {
  display: flex;
  flex-direction: column;
  background-color: #eff3f9;
  /* background-color: #102547; */
  padding: 20px 30px 20px 30px;
  font-family: 'Fira Sans', sans-serif;
  min-width: 350px;
  color: #102547;
}

.desktop {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 600;
  font-size: 25px;
  margin: 0 0 10px 8px;
}

.image_item {
  width: 20px;
  height: 20px;
  justify-self: flex-start;
}


ul {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  list-style: circle;
}

li p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
}

.foto {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url("./img/tornado.jpeg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(rgb(0, 0, 0, 0.7));
  height: 100px;
  color: white;
  font-weight: 400;
  /* margin: 10px; */
}


.fotogallery {
  margin: 0 0 3px 0;
}

.gallery_icon {
  width: 15px;
  height: 15px;
}

.show_galery {
  font-family: sans-serif;
  font-size: small;
  border: solid white 1px;
  border-radius: 3px;
  padding: 3px 5px 3px 5px;
  margin-bottom: 15px;
}

.online {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

.red_circle {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.watch_online {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 5px;
}

.one_news {
  margin: 5px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.time {
  background-color: #cedcf1;
  border-radius: 2px;
  padding: 2px 4px 2px 4px;
  margin-right: 3px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: small;
}

.input {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  border: #cedcf1 solid 1px;
  background-color: white;
  border-radius: 2px;
  font-family: sans-serif;
  font-weight: 600;
  box-shadow: 0 -20px 15px 0 #eff3f9;
}

.chevron_right {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.show_more {
  margin: 8px 0 8px 0;

}

@media (min-width: 1000px) {
  body {
    display: flex;
    justify-content: center;
  }

  main {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
  }

  .desktop {
    flex-direction: column;
    height: 100%;
    width: 40%;
  }

  .online {
    height: 85%;
    width: 35%;
  }

  .foto {
    height: 90%;
    width: 150px;
  }

  .show_galery {
    margin: 0 5px 8px 5px;
  }
}
