.content {
  background-color: #eff3f9;
  padding: 30px;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  margin: 0;
}

.image_item {
  width: 30px;
  height: 30px;
}

.item {
  font-family: sans-serif;
  font-weight: 500
}

.one_item {
  display: flex;
  align-items: center;
}

.foto {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url("./img/tornado.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  /* width: 150px; */
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  margin: 10px;
}

.show_galery {
  font-family: sans-serif;
  font-size: small;
  border: solid white 1px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
}

.online {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red_circle {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.watch_online {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  margin: 0;
}

.news {
  display: flex;
  align-items: center;
}

.time {
  background-color: #cedcf1;
  border-radius: 5px;
  padding: 4px;
  /* margin-right: 15px; */
  font-family: sans-serif;
  font-weight: 500;
  font-size: small;
}
