.content {
  display: flex;
  flex-direction: column;
  background-color: #eff3f9;
  padding: 30px;
  font-family: 'Fira Sans', sans-serif;
  min-width: 350px;
}

.desktop {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 600;
  margin: 0 0 10px 0;
}

.image_item {
  width: 20px;
  height: 20px;
}

.item {
  font-family: sans-serif;
  font-weight: 400;
  margin: 5px;
}

.one_item {
  display: flex;
  align-items: center;
}

.foto {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url("./img/tornado.jpeg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  color: white;
  font-weight: 400;
  margin: 10px;
}

.fotogallery {
  margin: 0 0 5px 0;
}

.gallery_icon {
  width: 15px;
  height: 15px;
}

.show_galery {
  font-family: sans-serif;
  font-size: small;
  border: solid white 1px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
}

.online {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.red_circle {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.watch_online {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  margin: 5px;
}

.one_news {
  margin: 5px;
  font-family: sans-serif;
  font-weight: 100;
}

.time {
  background-color: #cedcf1;
  border-radius: 5px;
  padding: 4px;
  /* margin-right: 15px; */
  font-family: sans-serif;
  font-weight: 400;
  font-size: small;
}

.input {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  border: #cedcf1 solid 1px;
  background-color: white;
  border-radius: 2px;
  font-family: sans-serif;
  font-weight: 600;
  box-shadow: 0 -20px 15px 0 rgb(255, 255, 255);
  /* z-index: 1; */
}


.chevron_right {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.show_more {
  margin: 2px 0 2px 0;
}

@media (min-width: 1000px) {
  body {
    display: flex;
    justify-content: center;
  }

  .content {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
  }

  .desktop {
    flex-direction: column;
    width: 40%;
  }

  .online {
    width: 35%;
  }

  .foto {
    height: 200px;
  }

  .show_galery {
    margin: 0 5px 5px 5px;
  }
}
